<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班级</title>
</head>
<body>
<div id="toolbarDemo" style="display: none">
    <div class="layui-btn-container" style="float:left">

    </div>
</div>
<script type="text/html" id="authoritiesTbBar">
</script>
<div class="layui-fluid vue-box">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar el-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">课程名称:</label>
                        <div class="layui-input-inline">
                            <input name="courseName" class="layui-input" placeholder="课程名称"/>
                        </div>
                    </div>
                    <div class="layui-inline">&emsp;
                        <div class="layui-btn icon-btn" @click="seachs()">
                            <i class="layui-icon">&#xe615;</i>搜索
                        </div>&nbsp;
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->
            <div id="authoritiesTable"></div>
        </div>
    </div>
    <div id="admins" style="display: none;padding-right: 20px;">
        <br>
        <form class="layui-form" action="">
            <div class="layui-row">
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">课程名称</label>
                        <div class="layui-input-block">
                            <input type="text" v-model="that.courseName" name="courseName" placeholder="班级名称" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">所属班级</label>
                       <!-- <div class="layui-input-block">
                            <input type="text" v-model="that.gradeId" name="gradeId" placeholder="所属班级Id" autocomplete="off"
                                   class="layui-input">
                        </div>-->
                        <div class="layui-input-block">
                            <select v-model="that.gradeId" name="gradeId">
                                <option value="xx" selected>选修</option>
                                <option v-for="(it,i) in gradeList" v-bind:value="it.gradeId">{{it.gradeName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">代课老师</label>
                        <div class="layui-input-block">
                            <select v-model="that.teacherId" name="teacherId">
                                <option v-for="(it,i) in teacherList" v-bind:value="it.userId">{{it.nickName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="admin1" style="display: none;padding-right: 20px;">
        <br>
        <form class="layui-form" action="">
            <div class="layui-row">
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">作业名称</label>
                        <div class="layui-input-block">
                            <input type="text" v-model="thatWork.workName" name="workName" placeholder="作业名称" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">附件</label>
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn" id="test1">
                                <i class="layui-icon">&#xe67c;</i>上传文件
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/js/require.js"></script>
<script type="text/javascript" src="/js/requireConfig.js"></script>
<script type="text/javascript" src="/app/course/list.js"></script>
</body>
</html>